<pml>
<head>
<meta http-equiv="Content-Type" content="text/x-playonline-pml;charset=UTF-8">
<title>Fast as Fuck</title>
</head>
<body>
<timer name="fuck" href="gameto:1" enable="1" delay="0">
</body>

</pml>