<pml>
<head>

	<meta http-equiv="Content-Type" content="text/x-playonline-pml;charset=UTF-8">

	<if expr="$_USER_LANG=='ja-JP'">
		<title>メインメニュー</title>
	<elsif expr="$_USER_LANG=='fr-FR'">
		<title>Menu principal</title>
	<elsif expr="$_USER_LANG=='de-DE'">
		<title>Hauptmenü</title>
	<else>
		<title>Main Menu</title>
	</if>

	<config top="" activehandleinfo="1" loadinterval="60">	<!-- ※アップ時に必ず“loadinterval”のエスケープを解除する！ -->
	<bgsound src="user">
	<systembg src="">

	<!-- コマンドロック用  -->
	<define name="$loc" value="1">
	<!-- コマンドリピート回数カウント用 -->
	<define name="$rpt1" value="0">
	<define name="$rpt2" value="0">
	<define name="$rpt3" value="0">
	<define name="$rpt4" value="0">
	<define name="$rpt5" value="0">

	<!-- 検証用フラグ全てON -->
	<define name="$allTest" nodefvalue="0">
	<if expr="$allTest==1">
		<define name="$scTest" nodefvalue="1">
		<define name="$gmTest" nodefvalue="1">
		<define name="$nwTest" nodefvalue="1">
		<define name="$bnTest" nodefvalue="1">
		<define name="$lgTest" nodefvalue="1">
		<define name="$lpgTest" nodefvalue="1">
		<define name="$lpg2Test" nodefvalue="1">
		<define name="$bcTest" nodefvalue="1">
	</if>

	<!--=== 最新ニュースデータ ==================================================================-->

	<define name="$dat" nodefvalue="-1000009900">			<!-- ニュース初期値 -->
	<define name="$nwTest" nodefvalue="0">					<!-- テスト用フラグ -->
	<if expr="$nwTest==0">
		<define name="$nwPath" value="/pcd/ntool/">			<!-- データパス：公開用 -->
	<else>
		<define name="$nwPath" value="news_test/">			<!-- データパス：テスト用 -->
	</if>
	<!-- 仏独はニュースの更新がないため -->
	<if expr="$_USER_LANG=='fr-FR'||$_USER_LANG=='de-DE'">
		<include src="news_static/latestnews.pml">	<!-- インクルード -->
	<else>
		<include src="$nwPath+$_USER_LANG+'/latestnews.pml'">	<!-- インクルード -->
	</if>


	<!--=== PICKUPデータ ========================================================================-->

	<define name="$bnTest" nodefvalue="0">					<!-- テスト用フラグ -->
	<if expr="$bnTest==0">
		<define name="$bnPath" value="/pcd/mainmenu/">		<!-- データパス：公開用 -->
	<else>
		<define name="$bnPath" value="banner_test/">		<!-- データパス：テスト用 -->
	</if>

	<!-- 言語分岐（北米・欧州のみ） -->
	<if expr="$_USER_LANG=='ja-JP'">
		<define name="$userLang" value="ja-JP">
	<elsif expr="$_USER_LANG=='en-US'">
		<define name="$userLang" value="en-US">
	<else>
		<define name="$userLang" value="en-GB">
	</if>
	<include src="$bnPath+$_USER_LANG+'/data.pml'">			<!-- インクルード -->


	<!--=== ショートカットアイコン表示判定 ======================================================-->

	<define name="$scTest" nodefvalue="0">					<!-- テスト用フラグ -->
	<if expr="$scTest==0">
		<define name="$SC_ID" calc="$_SHORTCUT_ID">			<!-- ディスクショートカットID：公開用 -->
	<else>
		<define name="$SC_ID" calc="$scTest">				<!-- ディスクショートカットID：テスト用 -->
	</if>


	<!--=== 前回プレイしたゲーム表示判定  ※北米・欧州はまだゲームが少ないため動作させない  =====-->

	<if expr="$_USER_LANG=='ja-JP'">

		<define name="$lpgTest" nodefvalue="0">						<!-- テスト用フラグ -->
		<if expr="$lpgTest==0">
			<define name="$LPG_ID" calc="$_LAST_PLAYED_CONTENT">	<!-- 前回プレイしたゲームID：公開用 -->
		<else>
			<define name="$LPG_ID" calc="$lpgTest">					<!-- 前回プレイしたゲームID：テスト用 -->
		</if>

		<!-- ゲーム中断中判定用 -->
		<define name="$lpg2Test" nodefvalue="0">					<!-- テスト用フラグ -->
		<if expr="$lpg2Test==0">
			<define name="$LPG2_ID" calc="$_CONTENTPLAYING">		<!-- ゲーム中断中判定：公開用 -->
		<else>
			<define name="$LPG2_ID" calc="$lpg2Test">				<!-- ゲーム中断中判定：テスト用 -->
		</if>

	<else>

		<define name="$LPG_ID" value="0">
		<define name="$LPG2_ID" value="0">

	</if>


	<!--=== 購入フラグ表示判定  ※北米・欧州はまだゲームが少ないため動作させない  ===============-->

	<define name="$bcTest" nodefvalue="0">						<!-- テスト用フラグ -->


	<!--=== バナー広告対応データインクルード =============================================-->
	<include src="ad01.pml">
	<define name="$hasBanner" calc="$adBanner[0][0]!='#'">
	<define name="$bannerNum" value="1">
	<for init="$i=0" cond="$adBanner[$i][0]!='#'" next="$i++">
		<define name="$bannerNum" calc="$i+1">
	</for>

	<!--=== フォントスタイル ====================================================================-->

	<if expr="$_USER_LANG=='ja-JP'">
		<define name="$stFace1"    value="2">
		<define name="$stFace2"    value="2">
		<define name="$stSpacing" value="-1">
		<define name="$stVspacing" value="4">
		<define name="$stVspacing2" value="0">
	<else>
		<define name="$stFace1"    value="6">
		<define name="$stFace2"    value="6">
		<define name="$stSpacing" value="0">
		<define name="$stVspacing" value="2">
		<define name="$stVspacing2" value="2">
	</if>

	<style name="menu2"    face="$stFace1" size="15" proportional="1" color="#333333ff">								<!-- 第2階層メニュー用 -->
	<style name="menu2sHd" face="$stFace2" size="15" proportional="1" color="#555555ff">								<!-- 第2階層メニュー用 -->
	<style name="pickup"   face="$stFace1" size="14" proportional="1" color="#333333ff" vspacing="$stVspacing">			<!-- PICKUPコメント用 -->
	<style name="news"     face="$stFace1" size="14" proportional="1" color="#333333ff" vspacing="$stVspacing2">		<!-- 最新ニュース10件 -->
	<style name="newsHd"   face="$stFace2" size="13" proportional="1" color="#555555aa">								<!-- インフォメーションリスト -->
	<style name="login1"   face="$stFace1" size="13" proportional="1" color="#e0e0e0ff,#222222ff">						<!-- 前回ログイン/ログアウト時間表示 -->
	<style name="login2"   face="$stFace1" size="13" proportional="1" color="#333333ff,#333333aa">						<!-- 前回ログイン/ログアウト時間表示 -->
	<style name="ic1"      face="$stFace1" size="13" proportional="1" color="#e0e0e0ff">								<!-- 最新10件/閉じる -->
	<style name="ic2"      face="$stFace1" size="13" proportional="1" color="#333333ff,#333333aa">						<!-- 最新10件/閉じる -->>
	<style name="gm1"      face="$stFace1" size="12" proportional="1" color="#e0e0e0ff">								<!-- GMコールアイコン -->
	<style name="gm2"      face="$stFace1" size="12" proportional="1" color="#333333ff,#333333aa">						<!-- GMコールアイコン -->
	<style name="sc1"      face="$stFace1" size="12" proportional="1" color="#e0e0e0ff"           spacing="$stSpacing">	<!-- ショートカット/インフォメーション -->
	<style name="sc2"      face="$stFace1" size="12" proportional="1" color="#333333ff,#333333aa" spacing="$stSpacing">	<!-- ショートカット/インフォメーション -->
	<style name="lpg"      face="$stFace1" size="14" proportional="1" color="#777777ff">								<!-- 前回プレイしたゲーム用 -->

	<!-- 文字間調整用 -->
	<style name="sp10" size="10">
	<style name="sp9" size="9">
	<style name="sp8" size="8">
	<style name="sp7" size="7">
	<style name="sp6" size="6">
	<style name="sp5" size="5">
	<style name="sp4" size="4">
	<style name="sp3" size="3">
	<style name="sp2" size="2">
	<style name="sp1" size="1">

	<!-- テスト用ボタン有効フラグ  -->
	<define name="$lgTest" nodefvalue="0">		<!-- 切替： [0]ログアウト [1]ゲームへ戻る  -->
	<define name="$gmTest" nodefvalue="0">		<!-- GMコール表示切替： [0]非表示 [1]表示  -->

	<!-- メニューデータインクルード  -->
	<include src="in01.pml">

	<!-- "Logout"分岐 [0]通常  [1]ゲーム中断中 
	<array name="$arLogout">"tologout:,sound:13,sound:37","sound:9,dialog:$txLogoutDialog"</array>-->
	<array name="$arLogout">"tologout:,sound:13,sound:37","gameto:-1"</array>

	<!-- "body"の onclose 分岐 -->
	<array name="$arBodyOnCls">"sd:focus@apNewsBt1","sd:focus@apShortcutBt",</array>


	<!--=== PICKUPオートディスプレイ制御用 ========================================================-->

	<define name="$autoNum" value="0">

	<!-- ピックアップイメージマウス対応コマンド -->
	<array name="$arPickupMs">
		"sd:reset=1@tmPickupMs0,sd:reset=0@tmPickupMs1",<!-- マウス選択不可 -->
		"sd:reset=0@tmPickupMs0,sd:reset=1@tmPickupMs1",<!-- マウス選択可 -->
	</array>

	<!-- PICKUPオートディスプレイ用コマンド -->
	<array name="$arPickupAuto">
		<!-- [0]ロック -->
		"",
		<!-- [1]ストップ -->
		"null:$onPickupNum=1,null:$autoNum=0,sd:reset=0@tmPickupAuto00,sd:@tmPickupAuto0,sd:@tmPickupAuto1,sd:@tmPickupAuto2,sd:@tmPickupAuto3",
		<!-- [2]プレイ -->
		"null:$onPickupNum=0,null:$autoNum=1,sd:reset=1@tmPickupAuto0",
		<!-- [3]body onclose -->
		"null:$onPickupNum=0,null:$autoNum=1,sd:reset=1@tmPickupAuto00",
	</array>


</head>
<body background="" onclose="sd:focus@apEsc,eval:$arBodyOnCls[$SC_ID>0],eval:$arPickupAuto[3],
							 eval:$fncMenuBtSqChg[1],eval:$fncMenuBtSqChg[2],eval:$fncMenuBtSqChg[3],eval:$fncMenuBtSqChg[4]">


<!--====================================================-->
<!--=== フォーカス待機用							 ===-->
<!--====================================================-->

<sheet name="shEsc" pos="0,235" size="10,10" border="0" type="5" alpha="0" appeartime="1" delay="0" wait="1" enable="0" zindex="20">
	<img name="apEsc" pos="0,0" size="10,10" src="file://pml/img_s/general/im01s.png" clicksound="0"
		 href="null:" onmouseover="eval:$arPickupMs[0]" onmouseout="sd:enable=0@shEsc,eval:$arPickupMs[1]"
		 onkeyup="null:" onkeydown="null:" onkeyleft="null:" onkeyright="null:"
		 onkeytab="null:" onkeyshifttab="null:">
</sheet>


<!--====================================================-->
<!--=== ショートカット								 ===-->
<!--====================================================-->

<if expr="$SC_ID>0">

	<if expr="$SC_ID<10">
		<define name="$zero" calc="0">
	<else>
		<define name="$zero" value="">
	</if>

	<if expr="$hasBanner=='1'">
		<define name="$shShortcutBtY" value="130">
	<else>
		<define name="$shShortcutBtY" value="147">
	</if>

	<define name="$scURL" calc="$arShortcutBt[0][1]+'?SC=11&PF='+$_PLATFORM">

	<sheet name="shShortcutBt"pos="5,$shShortcutBtY" size="510,500" border="0" type="0" alpha="1" appeartime="0" wait="0" zindex="20000">
		<img name="imShortcutBt" pos="0,0" size="510,500" src="'ma_i/masc'+$zero+''+$SC_ID+'i.png'">
		<img name="apShortcutBt" pos="0,0" size="470,500" src="file://pml/img_s/general/im01s.png"
			 href="$scURL" onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
			 onmouseover="sd:show=1@shShortcutBtTx,eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)],sd:enable=0@shEsc"
			 onmouseout="sd:show=0@shShortcutBtTx,eval:$arPickupMs[1]"
			 onkeyleft="sd:focus@apPickupBt2"
			 alt="$arShortcutBt[0][2]">
	</sheet>

	<sheet name="shShortcutBtTx" pos="13,147-17" size="100,17" border="0" type="0" delay="0" appeartime="10" wait="0" show="0" zindex="0">
		<text pos="0,0" size="100,17" style="sc2" valign="middle">&var=$txSc;</text>
		<text pos="2,2" size="100,17" style="sc2" valign="middle">&var=$txSc;</text>
		<text pos="2,0" size="100,17" style="sc2" valign="middle">&var=$txSc;</text>
		<text pos="0,2" size="100,17" style="sc2" valign="middle">&var=$txSc;</text>
		<text pos="2,1" size="100,17" style="sc1" valign="middle">&var=$txSc;</text>
	</sheet>

</if>


<!--====================================================-->
<!--=== ログイン時間								 ===-->
<!--====================================================-->

<if expr="$hasBanner=='1'">
	<sheet name="shLoginTime" pos="15,330" size="610,20" border="0" type="5" alpha="1" delay="0" appeartime="200" wait="1" zindex="19">
<else>
	<sheet name="shLoginTime" pos="15,410" size="610,20" border="0" type="5" alpha="1" delay="0" appeartime="200" wait="1" zindex="19">
</if>
	<text pos="0,0" size="600,20" style="login2" align="right" valign="middle" bgcolor="ff000000">&var=$txLogin;&var=$_LAST_LOGIN; </text>
	<text pos="2,2" size="600,20" style="login2" align="right" valign="middle" bgcolor="ff000000">&var=$txLogin;&var=$_LAST_LOGIN; </text>
	<text pos="2,0"  size="600,20" style="login2" align="right" valign="middle" bgcolor="ff000000">&var=$txLogin;&var=$_LAST_LOGIN; </text>
	<text pos="0,2"  size="600,20" style="login2" align="right" valign="middle" bgcolor="ff000000">&var=$txLogin;&var=$_LAST_LOGIN; </text>
	<text pos="1,1"  size="600,20" style="login1" align="right" valign="middle" bgcolor="ff000000">&var=$txLogin;&var=$_LAST_LOGIN; </text>
</sheet>


<!--====================================================-->
<!--=== バナー広告対応				 ===-->
<!--====================================================-->

<if expr="$hasBanner=='1'">
<sheet name="shAdBanner" pos="35,352" size="569,78" border="0" type="5" alpha="1" delay="0" appeartime="150" wait="2">
	<!ベース>
	<img pos="0,0" size="569,78" src="ma_i/maim10i.png">

	<!設定用パス>
	<if expr="$_USER_LANG=='en-US'">
		<define name="$userRegion" value="us">
		<define name="$adPath" value="en-US">
	<else>
		<define name="$userRegion" value="eu">
		<define name="$adPath" value="en-GB">
	</if>
	<define name="$AD_IMAGE_PATH" calc="'bn_i/'+$_USER_LANG+'/'+$_PLATFORM+'/'">

	<!リンク>
	<if expr="$_PLATFORM=='WIN'">
		<define name="$link1" calc="'/pml/main/bn_c/'+$userRegion+'/bn01.pml'">
		<define name="$link2" calc="'/pml/main/bn_c/'+$userRegion+'/bn02.pml'">
		<define name="$link3" calc="'/pml/main/bn_c/'+$userRegion+'/bn03.pml'">
	<else>
		<define name="$link1" value="null:">
		<define name="$link2" value="null:">
		<define name="$link3" value="null:">
	</if>

	<if expr="$bannerNum=='1'">
		<array name="$adx">"11"</array><!ポジション>
		<define name="$adW" value="548"><!幅>
		<define name="$frameSRC" value="ma_i/maim13i.png"><!フレーム>

	<elsif expr="$bannerNum=='2'">
		<array name="$adx">"11","289"</array><!ポジション>
		<define name="$adW" value="269"><!幅>
		<define name="$frameSRC" value="ma_i/maim12i.png"><!フレーム>

	<else>
		<array name="$adx">"11","195","379"</array><!ポジション>
		<define name="$adW" value="180"><!幅>
		<define name="$frameSRC" value="ma_i/maim11i.png"><!フレーム>
	</if>

	<!フレーム>
	<img pos="8,6" size="554,66" src="$frameSRC">

	<!バナー>
	<sheet size="$adW,60" pos="$adx[0],9" border="0">
		<img name="adBanner0" pos="0,0" !size="$adW,60" src="$AD_IMAGE_PATH+'bn1.png'" alt="$adBanner[0][0]" href="eval:$link1"
		 onkeyleft="sd:focus@adBanner2" onkeyup="sd:focus@apMenuBt16"
		 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]">
	</sheet>

	<sheet size="$adW,60" pos="$adx[1],9" border="0" show="$bannerNum=='2'||$bannerNum=='3'">
		<img name="adBanner1" pos="0,0" !size="$adW,60" src="$AD_IMAGE_PATH+'bn2.png'" alt="$adBanner[1][0]" href="eval:$link2"
	   onkeyup="sd:focus@apMenuBt16"
	   onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]">
  </sheet>

	<if expr="$bannerNum=='3'">
  <sheet size="$adW,60" pos="$adx[2],9" border="0" show="$bannerNum=='3'">
		<img name="adBanner2" pos="0,0" !size="$adW,60" src="$AD_IMAGE_PATH+'bn3.png'" alt="$adBanner[2][0]" href="eval:$link3"
		 onkeyright="sd:focus@adBanner0" onkeyup="sd:focus@apPickupBt0"
		 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]">
	</sheet>
	</if>

</sheet>
</if>


<!--====================================================-->
<!--=== PICKUP（バナー）							 ===-->
<!--====================================================-->


<define name="$BANNERMAX" nodefvalue="3">	<!-- バナー数：値受け取り -->
<define name="$bnMax" calc="$BANNERMAX-1">	<!-- バナー数：変換 -->
<define name="$culNum" value="0">			<!-- 現在表示しているバナーデータ番号 -->
<define name="$culNum2" value="0">

<!-- バナーランダム番号保存用  [0]配列番号  [1]バナーID  [2]バナーID並び -->
<array name="$arBnDataSave">
	<for init="$i=0" cond="$i<=$bnMax" next="$i++">
	<array>"0","0","0"</array>
	</for>
</array>


<!--=== PICKUPシート ============================================================-->

<!-- イメージ切替ボタン用コマンド -->
<array name="$fncApPickupBt">
	<!-- [0] -->
	"",

	<!-- [1]onmouseover -->
	"null:$seqIcPickupBn=$culNum2!=$culNum,sd:sequence=$culNum@imPickupBt,
	 null:$cmmtShow=$BANNER[$culNum][$arBnDataSave[$culNum][0]][4]!='',
	 sd:show=$cmmtShow@chPickupComment,sd:reload@txPickupComment,
	 eval:$fncApPickupBt[5*$seqIcPickupBn],
	 null:$seqIcPickupBn2=$BANNER[$culNum][$arBnDataSave[$culNum][0]][3],
	 eval:'sd:sequence='+$seqIcPickupBn2+'@icPickupBn'+$culNum",

	<!-- [2]onmouseout -->
	"sd:show=0@chPickupComment,sd:alphacolor=200@shPickupBgFx,sd:move=10@shPickupBgFx",

	<!-- [3]onkeyright：ショートカットにフォーカス -->
	"sd:focus@apShortcutBt",

	<!-- [4]onkeyright：GMコールにフォーカス -->
	"sd:focus@apGmBt",

	<!-- [5]NEW・UPDATED・EVENTアイコンのシークエンス初期化 -->
	"eval:'sd:sequence=0@icPickupBn'+$culNum,",
</array>


<!-- バナーデータ取得＆リンク -->
<define name="$getAdData" value="">
<for init="$i=1" cond="$i<=($bnMax+1)" next="$i++">
	<define name="$calc" calc="$getAdData+='&BN'+$i+'='+$arBnDataSave[$i-1][1]">
</for>
<array name="$fncLink">
	"null:",
	"eval:$BANNER[$culNum][$arBnDataSave[$culNum][0]][2]+'SELECT='+$arBnDataSave[$culNum][1]+$getAdData"
</array>


<!-- コメント -->
<!-- バナー広告対応 if文つけた -->
<if expr="$hasBanner=='1'">
<else>
<sheet name="shPickupComment" pos="404,325" size="201,71" border="0" alpha="1" delay="0" appeartime="300" type="0" show="1" wait="2" zindex="7">
	<sheet name="chPickupComment" pos="0,0" size="201,71" border="0" alpha="1" delay="200" appeartime="300" type="0" show="0" wait="2" zindex="7">
		<img pos="0,0" size="201,71" src="ma_i/maim07i.png">
		<text name="txPickupComment" pos="15,10" size="170,40" style="pickup" valign="middle" bgcolor="#ff000000">
			&pre=1;&var=$BANNER[$culNum][$arBnDataSave[$culNum][0]][4];
		</text>
	</sheet>
</sheet>
</if>


<!-- バナー広告対応 posのY:zindexを修正 -->
<if expr="$hasBanner=='1'">
	<sheet name="shPickup" pos="370,133" size="270,160+42" border="0" type="0" alpha="1" appeartime="200" delay="100" wait="2" zindex="10">
<else>
	<sheet name="shPickup" pos="370,142" size="270,160+42" border="0" type="0" alpha="1" appeartime="200" delay="100" wait="2" zindex="10">
</if>

	<!-- イメージBG：光彩エフェクト -->
	<sheet name="shPickupBgFx" pos="19,38" size="228,119" type="0" border="0" alpha="1" delay="0" appeartime="300" wait="2" zindex="7">
		<img name="imPickupBgFx" pos="0,0" size="228,119" src="ma_i/maim02i.ang" zindex="7">
	</sheet>

	<!-- イメージ切替ボタン -->
	<img name="imPickupBt" pos="33,150" size="200,49" src="ma_i/maic04i.ang" zindex="7" clickable="0">

	<for init="$i=0" cond="$i<=$bnMax" next="$i++">

		<define name="$bnRnd" calc="$_RND%$BANNERSIZE[$i]">
		<define name="$calc" calc="$arBnDataSave[$i][0]=$bnRnd">
		<define name="$calc" calc="$arBnDataSave[$i][1]=$BANNER[$i][$arBnDataSave[$i][0]][0]">

		<!-- バナーイメージシート -->
		<sheet name="'shPickupBn'+$i" pos="0,0" size="270,188" type="0" border="0" alpha="1" delay="200" appeartime="300" enable="0" show="($i==0)" wait="2" zindex="7">

			<img pos="0,0" !size="270,160" src="$bnPath+$_USER_LANG+'/'+$BANNER[$i][$bnRnd][1]" zindex="7"
				 href="eval:$fncLink[1]"
				 onmouseover="eval:$arPickupAuto[1],eval:'sd:focus@apPickupBt'+$culNum,eval:$fncApPickupBt[1],sd:enable=0@shEsc"
				 onmouseout="eval:$arPickupAuto[2*(($autoNum==0)&&($onPickupNum==0))],null:$culNum2={$i},eval:$fncApPickupBt[2]"
				 alt="$BANNER[$i][$bnRnd][5]">

			<!-- NEW・UPDATED・EVENTアイコン -->
			<img name="'icPickupBn'+$i" pos="157,164" size="74,40" src="ma_i/maic03i.ang" clickable="0">

		</sheet>

		<!バナー広告対応 & イメージ切り替えボタンのonkeydown>
		<if expr="$hasBanner==1">
			<define name="$keydownFocus" value="adBanner2">
		<else>
			<define name="$keydownFocus" value="apInfoBt1">
		</if>

		<!-- イメージ切替ボタン -->
		<if expr="$i==0">
			<img name="'apPickupBt'+$i" pos="40+40*$i,160" size="27,26" src="file://pml/img_s/general/im01s.png" zindex="6"
				 href="eval:$fncLink[1]"
				 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
				 onmouseover="eval:$arPickupAuto[1],eval:$arPickupMs[0],
							  eval:'sd:show=0@shPickupBn'+$culNum,null:$culNum={$i},
							  eval:'sd:show=1@shPickupBn'+$culNum,eval:$fncApPickupBt[1],sd:enable=0@shEsc"
				 onmouseout="eval:$arPickupAuto[2*(($autoNum==0)&&($onPickupNum==0))],eval:$arPickupMs[1],null:$culNum2={$i},eval:$fncApPickupBt[2]"
				 onkeyup="sd:focus@apInfoBt1"
				 onkeydown="sd:focus@{$keydownFocus}"
				 onkeyleft="eval:'sd:focus@apMenuBt1'+$fcNum1"
				 alt="$BANNER[$i][$bnRnd][5]">

		<elsif expr="$i==$bnMax">
			<img name="'apPickupBt'+$i" pos="40+40*$i,160" size="27,26" src="file://pml/img_s/general/im01s.png" zindex="6"
				 href="eval:$fncLink[1]"
				 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
				 onmouseover="eval:$arPickupAuto[1],eval:$arPickupMs[0],
							  eval:'sd:show=0@shPickupBn'+$culNum,null:$culNum={$i},
							  eval:'sd:show=1@shPickupBn'+$culNum,eval:$fncApPickupBt[1],sd:enable=0@shEsc"
				 onmouseout="eval:$arPickupAuto[2*(($autoNum==0)&&($onPickupNum==0))],eval:$arPickupMs[1],null:$culNum2={$i},eval:$fncApPickupBt[2]"
				 onkeyup="sd:focus@apInfoBt1"
				 onkeydown="sd:focus@{$keydownFocus}"
				 onkeyright="eval:'sd:focus@apMenuBt1'+$fcNum1,eval:$fncApPickupBt[3*($fcNum1==0)+4*($fcNum1==3)]"
				 alt="$BANNER[$i][$bnRnd][5]">

		<else>
			<img name="'apPickupBt'+$i" pos="40+40*$i,160" size="27,26" src="file://pml/img_s/general/im01s.png" zindex="6"
				 href="eval:$fncLink[1]"
				 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
				 onmouseover="eval:$arPickupAuto[1],eval:$arPickupMs[0],
							  eval:'sd:show=0@shPickupBn'+$culNum,null:$culNum={$i},
							  eval:'sd:show=1@shPickupBn'+$culNum,eval:$fncApPickupBt[1],sd:enable=0@shEsc"
				 onmouseout="eval:$arPickupAuto[2*(($autoNum==0)&&($onPickupNum==0))],eval:$arPickupMs[1],null:$culNum2={$i},eval:$fncApPickupBt[2]"
				 onkeyup="sd:focus@apInfoBt1"
				 onkeydown="sd:focus@{$keydownFocus}"
				 alt="$BANNER[$i][$bnRnd][5]">

		</if>
	</for>

</sheet>


<!-- PICKUPオートディスプレイTIMER -->
<timer name="tmPickupMs0" delay="0" enable="0" href="sd:enable=0@shPickupBn0,sd:@shPickupBn1,sd:@shPickupBn2">
<timer name="tmPickupMs1" delay="100" enable="1" href="sd:enable=1@shPickupBn0,sd:@shPickupBn1,sd:@shPickupBn2">

<timer name="tmPickupAuto00"  enable="0" delay="3000" href="sd:reset=1@tmPickupAuto1"><!-- body onclose用 -->
<timer name="tmPickupAuto0"  enable="0" delay="10000" href="sd:reset=1@tmPickupAuto1"><!-- その他 -->
<timer name="tmPickupAuto1" enable="0" delay="0" href="eval:$fncApPickupBt[1],sd:reset=1@tmPickupAuto3">
<timer name="tmPickupAuto2" enable="0" delay="0"
	   href="eval:'sd:show=0@shPickupBn'+$culNum,null:$culNum++,null:$culNum=$culNum*($culNum<=$bnMax),eval:'sd:show=1@shPickupBn'+$culNum,
			 eval:$fncApPickupBt[1],sd:reset=1@tmPickupAuto3">
<timer name="tmPickupAuto3" enable="0" delay="3000" href="sd:reset=1@tmPickupAuto2">



<!--====================================================-->
<!--=== メニュー用コマンド							 ===-->
<!--====================================================-->

<!-- フォーカス制御用 -->
<define name="$fcNum1" value="0">


<!--=== 第2階層 展開用コマンド（ロック解除） =======================================-->

<timer name="tmMenuCmd12" enable="0" delay="50" href="null:$loc=1">


<!--=== 第2階層 展開用コマンド =====================================================-->

<array name="$fncMenu2OpenCmd">
	<!-- [0]ロック -->
	"",

	<!-- [1]サブメニュー展開分岐 ： [1]URLジャンプ  [2]サブメニュー展開 -->
	"null:$loc=0,eval:$fncMenu2OpenCmd[2+($arMenu1[$fcNum1][2]=='')]",

	<!-- [2]URLジャンプ -->
	"eval:$arMenu1[$fcNum1][2],null:$loc=1",

	<!-- [3]サブメニュー展開 -->
	"null:$mnNum1=$arMenu1[$fcNum1][3],
	 sd:enable=1@shEsc,sd:focus@apEsc,
	 null:$half1=$arMenu2Length[$mnNum1]/2+$arMenu2Length[$mnNum1]%2,null:$half2=$mnNum2MaxHalf-$half1,
	 eval:$fncMenu2BtCmd[1],eval:$fncMenu2BaseCmd[1],eval:$fncShowLPGCmd[($LPG_ID>0)&&($mnNum1==0)],
	 sd:show=1@shMenu20,sd:@shMenu21,sd:reload@txMenuHd2,
	 sd:show=0@shPickup,sd:@shShortcutBt,sd:@shGmBt,sd:@shNewsBt,sd:@shInfoBt,sd:@shMenuBt1,sd:@shAdBanner,sd:@shLoginTime,
	 sd:alphacolor=0@shNewsBase1,sd:move=12@,
	 sd:alphacolor=0@shPickupComment,sd:move=12@,sd:reset=1@tmMenuCmd12",
</array>


<!--=== 第2階層 閉じる用コマンド =====================================================-->

<array name="$fncMenu2CloseCmd">
	"",

	"null:$loc=0,sound:15,sd:enable=1@shEsc,sd:focus@apEsc,eval:'sd:focus@apMenuBt1'+$fcNum1,
	 sd:show=0@shMenu20,sd:@shMenu21,eval:$fncMenu2BtCmd[2],eval:$fncShowLPGCmd[2],
	 sd:show=1@shPickup,sd:@shShortcutBt,sd:@shGmBt,sd:@shNewsBt,sd:@shInfoBt,sd:@shMenuBt1,sd:@shAdBanner,sd:@shLoginTime,
	 sd:alphacolor=255@shNewsBase1,sd:move=20@,
	 sd:alphacolor=255@shPickupComment,sd:move=20@,sd:reset=1@tmMenuCmd12",
</array>


<!--=== 第2階層 メニュー項目用コマンド ===============================================-->

<array name="$fncMenu2BtCmd">
	<!-- [0]ストップ -->
	"",

	<!-- [1]表示 -->
	"null:$arIdx=$rpt2+$half2*($rpt2>($half1-1)),
	 null:$arMenu2Rec[$arIdx][0]=$arMenu2[$mnNum1][$rpt2][0],
	 null:$arMenu2Rec[$arIdx][1]=$arMenu2[$mnNum1][$rpt2][1],
	 null:$arMenu2Rec[$arIdx][2]=$arMenu2[$mnNum1][$rpt2][4],
	 eval:'sd:alt='+$arMenu2[$mnNum1][$rpt2][2]+'@apMenuBt2'+$arIdx,
	 eval:'sd:reload@txMenuBt2'+$arIdx,
	 eval:'sd:show=1@shMenuBt2'+$arIdx,
	 null:$setSq=4+7*$arMenu2Rec[$arIdx][2],
	 eval:'sd:sequence='+$setSq+'@fcMenuBt2'+$arIdx,
	 null:$rpt2++,null:$rpt2=$rpt2*($arMenu2[$mnNum1][$rpt2][0]!='#'),eval:$fncMenu2BtCmd[($rpt2!=0)]",

	<!-- [2]非表示 -->
	"eval:'sd:show=0@shMenuBt2'+$rpt3,
	 null:$arMenu2Rec[$rpt3][0]='',
	 null:$arMenu2Rec[$rpt3][1]='',
	 null:$arMenu2Rec[$rpt3][2]='',
	 null:$rpt3++,null:$rpt3=$rpt3*($rpt3!=$mnNum2Max),eval:$fncMenu2BtCmd[2*($rpt3!=0)]",
</array>


<!--=== 第2階層 ベース用コマンド ===============================================-->

<array name="$fncMenu2BaseCmd">
	<!-- [0]ストップ -->
	"null:$shMenu21Y=182+10-14*$half1-($shLPGBaseH*($mnNum1!=0))-($shLPGBaseH/2)*($LPG_ID>0 && $mnNum1==0),
	 sd:sety=$shMenu21Y@shMenu21,sd:move=0@,
	 null:$shMenu2ClsBtY=78+28*($half1-1)+$shLPGBaseH,sd:sety=$shMenu2ClsBtY@shMenu2ClsBt,sd:move=0@,
	 sd:sety=$shMenu2ClsBtY-18@shMenu2ClsBtTx,sd:move=0@,
	 null:$shMenuBaseHdY=-$shLPGBaseH*($mnNum1==0),sd:sety=$shMenuBaseHdY@shMenuBaseHd,sd:move=0@,
	 null:$shMenuBaseFtY=38+28*$half1+$shLPGBaseH,sd:sety=$shMenuBaseFtY@shMenuBaseFt,sd:move=0@,
	 null:$shMenu2DmyY=31+28*($half1+2)+$shLPGBaseH,sd:sety=$shMenu2DmyY@shMenu2Dmy,sd:move=0@",

	<!-- [1]表示 -->
	"null:$mn2BsShow=$half1>=($rpt4+1),
	 eval:'sd:show='+$mn2BsShow+'@shMenuBase'+$rpt4,
	 null:$rpt4++,null:$rpt4=$rpt4*($mnNum2MaxHalf>$rpt4),eval:$fncMenu2BaseCmd[($rpt4!=0)]",
</array>


<!--=== 第2階層 最後にプレイしたゲーム用 ===============================================-->

<array name="$fncShowLPGCmd">
	<!-- [0]なし -->
	"sd:focus@apMenuBt20",

	<!-- [1]あり：表示 -->
	"sd:focus@apLPG,sd:show=1@shLPGBase,sd:@shLPG,
	 null:$setSqFcLPG=4+7*$arLPG[4],sd:sequence=$setSqFcLPG@fcLPG",

	<!-- [2]あり：非表示 -->
	"sd:show=0@shLPGBase,sd:@shLPG",
</array>


<!--====================================================-->
<!--=== メニュー（第1階層）							 ===-->
<!--====================================================-->


<!-- バナー広告対応 posのY -->
<if expr="$hasBanner=='1'">
	<sheet name="shMenuBt1" pos="37,133" size="199,216" border="0" type="4" alpha="1" delay="0" appeartime="150" wait="2" zindex="4">
<else>
	<sheet name="shMenuBt1" pos="37,147" size="199,216" border="0" type="4" alpha="1" delay="0" appeartime="150" wait="2" zindex="4">
</if>

	<!-- メニューベース -->
	<img pos="0,0" size="199,216" src="ma_i/maim08i.png" zindex="4">

	<for init="$i=0" cond="$arMenu1[$i][0]!='#'" next="$i++">

		<!-- サブメニュー有無判定 -->
		<if expr="$arMenu1[$i][2]==''">
			<define name="$seqFcMenuBt1" calc="3">
			<define name="$seqFcMenuBt2" calc="8">
		<else>
			<define name="$seqFcMenuBt1" calc="2">
			<define name="$seqFcMenuBt2" calc="7">
		</if>

		<sheet name="'shMenuBt1'+$i" pos="0,14+26*$i" size="210,29"
			   border="0" type="0" alpha="1" delay="200+50*$i" appeartime="150" wait="2" zindex="4">

			<!-- フォーカスエフェクト -->
			<img name="'fcMenuBt'+$i" pos="10,0" size="488,29" src="ma_i/mafc01i.ang">

			<!-- テスト用テキスト -->
			<text pos="15,2" size="199,26" style="menu2" valign="middle" margin="8">&var=$arMenu1[{$i}][0];</text>

			<!-- アンカーポイント用ダミーイメージ -->
			<if expr="($SC_ID>0)||(($_GM_CALL_STATUS>0)||($gmTest==1))">
				<img name="'apMenuBt1'+$i" pos="15,2" size="177,26" src="file://pml/img_s/general/im01s.png"
					 href="null:$fcNum1={$i},eval:$fncMenu2OpenCmd[$loc]"
					 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
					 onmouseover="null:$fcNum1={$i},sd:sequence={$seqFcMenuBt1}@fcMenuBt{$i},
								  eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)],
								  sd:setx=55@shEsc,null:$sety=28+142+26*$fcNum1,sd:sety=$sety@shEsc,sd:move=0@shEsc,sd:enable=0@shEsc"
					 onmouseout="sd:sequence={$seqFcMenuBt2}@fcMenuBt{$i},eval:$arPickupMs[1]"
					 onkeyright="sd:focus@apPickupBt0"
					 alt="$arMenu1[$i][1]">
			<else>
				<img name="'apMenuBt1'+$i" pos="15,2" size="177,26" src="file://pml/img_s/general/im01s.png"
					 href="null:$fcNum1={$i},eval:$fncMenu2OpenCmd[$loc]"
					 onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
					 onmouseover="null:$fcNum1={$i},sd:sequence={$seqFcMenuBt1}@fcMenuBt{$i},
								  eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)],
								  sd:setx=55@shEsc,null:$sety=28+142+26*$fcNum1,sd:sety=$sety@shEsc,sd:move=0@shEsc,sd:enable=0@shEsc"
					 onmouseout="sd:sequence={$seqFcMenuBt2}@fcMenuBt{$i},eval:$arPickupMs[1]"
					 onkeyleft="sd:focus@apPickupBt2"
					 onkeyright="sd:focus@apPickupBt0"
					 alt="$arMenu1[$i][1]">
			</if>

		</sheet>

	</for>

</sheet>


<!--====================================================-->
<!--=== 「GMコール」ボタン							 ===-->
<!--====================================================-->

<if expr="($_GM_CALL_STATUS>0)||($gmTest==1)">

<sheet name="shGmBt" pos="5,147+26*3-2" size="51,50" border="0" type="0" alpha="1" delay="0" appeartime="200" wait="2" zindex="0">
	<img name="imGmBt" pos="0,0" size="51,50" src="ma_i/masc00i.png">
	<img name="apGmBt" pos="0,11" size="47,40" src="file://pml/img_s/general/im01s.png"
		 href="gmcallto:" onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
		 onmouseover="sd:show=1@shGmBtTx,eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)],sd:enable=0@shEsc"
		 onmouseout="sd:show=0@shGmBtTx,eval:$arPickupMs[1]"
		 onkeyleft="sd:focus@apPickupBt2"
		 alt="$txGmBtAh">
</sheet>

<!--「GMコール」テキスト -->
<sheet name="shGmBtTx" pos="13,147+26*3-9" size="115,20" border="0" type="0" alpha="1" delay="0" appeartime="10" wait="2" show="0" zindex="0">
	<text pos="0,0" size="115,20" style="gm2" valign="middle">&var=$txGm;</text>
	<text pos="2,2" size="115,20" style="gm2" valign="middle">&var=$txGm;</text>
	<text pos="2,0" size="115,20" style="gm2" valign="middle">&var=$txGm;</text>
	<text pos="0,2" size="115,20" style="gm2" valign="middle">&var=$txGm;</text>
	<text pos="2,1" size="115,20" style="gm1" valign="middle">&var=$txGm;</text>
</sheet>

</if>


<!--====================================================-->
<!--=== メニュー（第2階層）							 ===-->
<!--====================================================-->

<!-- 第2階層 項目折り返し計算 -->
<define name="$mnNum2MaxHalf" calc="$mnNum2Max/2+$mnNum2Max%2">

<!-- 第2階層高さ調整（最後に起動したゲームがある場合） -->
<if expr="$LPG_ID>0">
<define name="$shLPGBaseH" value="48">
<else>
<define name="$shLPGBaseH" value="0">
</if>

<!-- 防御シート（クリックで第2階層を閉じる） -->
<sheet name="shMenu20" pos="0,0" size="640,480" border="0" type="0" alpha="1" delay="0" appeartime="1" wait="2" show="0" zindex="0">
	<img pos="0,0" size="640,480" src="file://pml/img_s/general/im01s.png" mousesound="0"
		 href="eval:$fncMenu2CloseCmd[$loc]">
</sheet>

<!-- 第2階層シート -->
<sheet name="shMenu21" pos="42,0" size="564,38+28*$mnNum2MaxHalf+28*2+$shLPGBaseH" border="0" type="6" alpha="1" delay="0" appeartime="200" wait="2" show="0" zindex="0">


	<!-- ベース中（最後に起動したゲーム用） -->
	<if expr="$LPG_ID>0">
	<sheet name="shLPGBase" pos="0,38" size="564,$shLPGBaseH" border="0" type="0" alpha="1" delay="0" appeartime="200" wait="2" show="0" zindex="0">
		<img pos="0,0" size="564,$shLPGBaseH" src="ma_i/maim04i.png">
	</sheet>
	</if>

	<!-- ベース中（リピート） -->
	<for init="$i=0" cond="$i<$mnNum2MaxHalf" next="$i++">
	<sheet name="'shMenuBase'+$i" pos="0,38+28*$i+$shLPGBaseH" size="564,28" border="0" type="0" alpha="1" delay="0" appeartime="200" wait="2" zindex="0">
		<img pos="0,0" size="564,28" src="ma_i/maim04i.png">
	</sheet>
	</for>

	<!-- ベース下 -->
	<sheet name="shMenuBaseFt" pos="0,38+28*$mnNum2MaxHalf+$shLPGBaseH" size="564,28*2" border="0" type="0" alpha="1" delay="0" appeartime="200" wait="2" zindex="0">
		<img pos="0,0" size="564,28" src="ma_i/maim04i.png">
		<img pos="0,28" size="564,28" src="ma_i/maim05i.png">
	</sheet>



	<!-- メニュー項目シート -->
	<scrollarea name="scrMenu2" pos="0,0" hbar="never" vbar="never" skin="0" skincolor="#e0e0e0ff" selectedskincolor="#00000000">

		<!-- 最後に起動したゲーム用 -->
		<if expr="$LPG_ID>0">
		<sheet name="shLPG" pos="18,42" size="524,$shLPGBaseH" border="0" type="0" alpha="1" delay="0" appeartime="0" wait="2" show="0" zindex="2">
			<text bgcolor="#ff000000"></text>

			<img pos="0,37" size="524,2" src="ma_i/maim09i.png" zindex="2">
			<img name="fcLPG" pos="2,0" size="488,29" src="ma_i/mafc01i.ang" zindex="2">
			<text name="txLPG" pos="2,0" size="488,29" style="menu2" valign="middle" margin="20">&var=$arLPG[0];&style=lpg;&var=$txLPG;&style;</text>

				<img name="apLPG" pos="2,0" size="488,29" src="file://pml/img_s/general/im01s.png"
					 href="eval:$arLPG[1]"
					 onkeycancel="eval:$fncMenu2CloseCmd[$loc]"
					 onmouseover="sd:sequence=16-4*$arLPG[4]@fcLPG,sd:enable=0@shEsc"
					 onmouseout="sd:sequence=17-4*$arLPG[4]@fcLPG"
					 onkeyleft="sd:focus@apMenuBt2{$mnNum2MaxHalf}"
					 onkeyright="sd:focus@apMenuBt2{$mnNum2MaxHalf}"
					 alt="$arLPG[2]">

		</sheet>
		</if>

		<!-- 通常のメニュー項目用 -->
		<for init="$i=0" cond="$i<$mnNum2Max" next="$i++">

			<if expr="$i<$mnNum2MaxHalf">
				<define name="$shMenuBt2X" calc="20">
				<define name="$shMenuBt2Y" calc="42+29*$i+$shLPGBaseH">
			<else>
				<define name="$shMenuBt2X" calc="20+260">
				<define name="$shMenuBt2Y" calc="42+29*($i-$mnNum2MaxHalf)+$shLPGBaseH">
			</if>

			<sheet name="'shMenuBt2'+$i" pos="$shMenuBt2X,$shMenuBt2Y" size="263,29"
				   border="0" type="0" alpha="1" delay="0" appeartime="0" wait="2" show="0" zindex="2">

				<img name="'fcMenuBt2'+$i" pos="0,0" size="488,29" src="ma_i/mafc01i.ang" zindex="2">
				<text name="'txMenuBt2'+$i" pos="0,0" size="260+15,29" style="menu2" valign="middle" margin="20">&var=$arMenu2Rec[{$i}][0];</text>

				<!-- 左列 -->
				<if expr="$i<$mnNum2MaxHalf">
					<if expr="($mnNum2MaxHalf==($i+1))&&(($mnNum2Max%2)==1)"><! 左列の一番下の項目が余った場合 >
						<img name="'apMenuBt2'+$i" pos="0,0" size="260,29" src="file://pml/img_s/general/im01s.png"
							 href="eval:$arMenu2Rec[{$i}][1]"
							 onkeycancel="eval:$fncMenu2CloseCmd[$loc]"
							 onmouseover="null:$sqOver=5+9*$arMenu2Rec[{$i}][2],sd:sequence=$sqOver@fcMenuBt2{$i},sd:enable=0@shEsc"
							 onmouseout="null:$sqOut=9+6*$arMenu2Rec[{$i}][2],sd:sequence=$sqOut@fcMenuBt2{$i}"
							 onkeyleft="sd:focus@apMenu2ClsBt"
							 onkeyright="sd:focus@apMenu2ClsBt"
							 alt="^03">
					<else>
						<img name="'apMenuBt2'+$i" pos="0,0" size="260,29" src="file://pml/img_s/general/im01s.png"
							 href="eval:$arMenu2Rec[{$i}][1]"
							 onkeycancel="eval:$fncMenu2CloseCmd[$loc]"
							 onmouseover="null:$sqOver=5+9*$arMenu2Rec[{$i}][2],sd:sequence=$sqOver@fcMenuBt2{$i},sd:enable=0@shEsc"
							 onmouseout="null:$sqOut=9+6*$arMenu2Rec[{$i}][2],sd:sequence=$sqOut@fcMenuBt2{$i}"
							 onkeyleft="sd:focus@apMenuBt2{$i+$mnNum2MaxHalf}"
							 alt="^03">
					</if>
				<!-- 右列 -->
				<else>
					<img name="'apMenuBt2'+$i" pos="0,0" size="260,29" src="file://pml/img_s/general/im01s.png"
						 href="eval:$arMenu2Rec[{$i}][1]"
						 onkeycancel="eval:$fncMenu2CloseCmd[$loc]"
						 onmouseover="null:$sqOver=5+9*$arMenu2Rec[{$i}][2],sd:sequence=$sqOver@fcMenuBt2{$i},sd:enable=0@shEsc"
						 onmouseout="null:$sqOut=9+6*$arMenu2Rec[{$i}][2],sd:sequence=$sqOut@fcMenuBt2{$i}"
						 onkeyright="sd:focus@apMenuBt2{$i-$mnNum2MaxHalf}"
						 alt="^03">
				</if>

			</sheet>

		</for>

		<!-- 戻る -->
		<sheet name="shMenu2ClsBtTx" pos="523-35,38+28*$mnNum2MaxHalf-18+$shLPGBaseH" size="100,20" border="0" type="0"
			   alpha="1" delay="0" appeartime="10" wait="2" show="0" zindex="0">
			<text pos="0,0" size="100,20" style="ic2" align="center" valign="middle">&var=$txMenu2ClsBt;</text>
			<text pos="2,2" size="100,20" style="ic2" align="center" valign="middle">&var=$txMenu2ClsBt;</text>
			<text pos="2,0" size="100,20" style="ic2" align="center" valign="middle">&var=$txMenu2ClsBt;</text>
			<text pos="0,2" size="100,20" style="ic2" align="center" valign="middle">&var=$txMenu2ClsBt;</text>
			<text pos="1,1" size="100,20" style="ic1" align="center" valign="middle">&var=$txMenu2ClsBt;</text>
		</sheet>
		<sheet name="shMenu2ClsBt" pos="523,38+28*$mnNum2MaxHalf+$shLPGBaseH" size="33,35" border="0" type="0"
			   alpha="1" delay="0" appeartime="250" wait="2" show="1" zindex="0">
			<img name="imMenu2ClsBt" pos="0,0" size="33,35" src="ma_i/maic05i.ang">
			<img name="apMenu2ClsBt" pos="0,0" size="33,35" src="file://pml/img_s/general/im01s.png"
				 href="eval:$fncMenu2CloseCmd[$loc]" onkeycancel="eval:$fncMenu2CloseCmd[$loc]"
				 onmouseover="sd:show=1@shMenu2ClsBtTx,sd:sequence=3@imMenu2ClsBt,sd:enable=0@shEsc"
				 onmouseout="sd:show=0@shMenu2ClsBtTx,sd:sequence=2@imMenu2ClsBt"
				 alt="$txMenu2ClsBtAh">
		</sheet>

	</scrollarea>

	<!-- ベース上/メニュー見出し -->
	<sheet name="shMenuBaseHd" pos="0,0" size="564,38+$shLPGBaseH" border="0" type="0" alpha="1" delay="0" appeartime="200" wait="2" zindex="0">
		<img pos="0,$shLPGBaseH" size="564,38" src="ma_i/maim03i.png">
		<text name="txMenuHd2" pos="28,5+$shLPGBaseH" size="160,23" style="menu2sHd" valign="middle" zindex="0">&var=$arMenu1[$fcNum1][0];</text>
		<img pos="0,0" size="564,$shLPGBaseH" src="file://pml/img_s/general/im01s.png" mousesound="0"
			 href="eval:$fncMenu2CloseCmd[$loc]">
	</sheet>

	<!-- 外側クリック対応 -->
	<sheet name="shMenu2Dmy" pos="0,31+28*($mnNum2MaxHalf+2)+$shLPGBaseH" size="564,38+28*$mnNum2MaxHalf+28*2" border="0" 
		   type="0" alpha="1" delay="0" appeartime="250" wait="2" zindex="0">
		<img pos="0,0" size="564,38+28*($mnNum2MaxHalf)+28*2" src="file://pml/img_s/general/im01s.png" mousesound="0"
			 href="eval:$fncMenu2CloseCmd[$loc]">
	</sheet>

</sheet>


<!--====================================================-->
<!--=== インフォメーションバー						 ===-->
<!--====================================================-->

<define name="$newsDspNum" value="0">

<!-- プルダウン処理 -->
<array name="$fncInfoCmd">
	<!-- [0]展開用 -->
	"null:$loc=0,null:$newsDspNum=1,null:$newsDspNum2=!($newsDspNum),
	 sd:enable=1@shEsc,sd:focus@apEsc,sd:@apNewsBt2,
	 sd:show=0@shNewsBase1,sd:@shPickup,sd:@shGmBt,sd:@shShortcutBt,sd:@shAdBanner,sd:@shLoginTime,eval:$fncInfoCmd2[0],
	 sd:show=1@shNewsBase2,
	 sd:sequence=4@btSlNews2,
	 sd:show=1@shNews,
	 sd:alphacolor=0@shPickupComment,sd:move=12@,
	 sd:sequence=3@imNewsBt1,null:$loc=1",

	<!-- [1]閉じる用 -->
	"null:$loc=0,sound:15,null:$newsDspNum=0,null:$newsDspNum2=!($newsDspNum),
	 sd:sequence=0@imNewsBt1,
	 sd:enable=1@shEsc,sd:focus@apEsc,
	 sd:show=1@shNewsBase1,sd:@shPickup,sd:@shGmBt,sd:@shShortcutBt,sd:@shAdBanner,sd:@shLoginTime,eval:$fncInfoCmd2[0],
	 sd:show=0@shNewsBase2,sd:show=0@shNews,
	 sd:alphacolor=255@shPickupComment,sd:move=20@,
	 sd:reset=1@tmInfoCmd"
</array>

<array name="$fncInfoCmd2">
	"null:$shMenuBt1Alpha=255*$newsDspNum2,sd:alphacolor=$shMenuBt1Alpha@shMenuBt1,sd:move=20@"
</array>
<timer name="tmInfoCmd" enable="0" delay="100" href="sd:focus@apNewsBt1,null:$loc=1">


<!--=== ニュースベース =====================================================================-->

<!-- 一行表示時 -->
<sheet name="shNewsBase1" pos="0,58+16" size="640,36" border="0" type="5" alpha="1" delay="50" delayproperties="1" appeartime="150"
	   enable="1" wait="2" zindex="1" show="1">

	<!-- ニュースベース -->
	<img pos="0,3" size="640,36" src="ma_i/maim01i.png">
	<!-- ニュース件名 -->
	<if expr="$LATESTNEWSMAX==0"><!-- ニュースが0件の場合 -->
		<text pos="84+46,10" size="448,15" style="news">&var=$txNoNews;</text>
	<else>
		<img name="icNews00" pos="83,7" size="40,20" src="ma_i/maic06i.ang"><!-- ニュースカテゴリアイコン： [0]POL [1]FFXI [2]TM [3]雀鳳楼 [4]FMO -->
		<text pos="84+46,10" size="448,15" style="news">&var=$LATESTNEWS[0][5];</text>
	</if>

</sheet>

<!-- 展開時 -->
<sheet name="shNewsBase2" pos="0,58+16" size="640,36" border="0" type="5" alpha="1" delay="0" appeartime="150" wait="2" zindex="1" show="0">

	<!-- ニュースベース -->
	<img pos="0,3" size="640,36" src="ma_i/maim06i.png">
	<!-- ニュース件名 -->
	<text pos="20,5" size="620,27" style="newsHd" align="center" valign="middle">&var=$txNews;</text>

</sheet>


<!--=== 最新ニュース表示ボタン ===============================================================-->

<sheet name="shNewsBt" pos="0,58+16" size="579,36" border="0" type="0" alpha="1" delay="0" appeartime="200" enable="1" wait="2" zindex="0">
	<if expr="$LATESTNEWSMAX==0"><!-- ニュースが0件の場合 -->
		<img name="imNewsBt1" pos="0,3" size="78,27" src="ma_i/maic01i.ang">
		<img name="apNewsBt1" pos="55,5" size="524,23" src="file://pml/img_s/general/im01s.png" clicksound="9"
			 href="null:" onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
			 onmouseover="sd:show=1@shNewsBtTx1,sd:sequence=2@imNewsBt1,eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)],sd:enable=0@shEsc"
			 onmouseout="sd:show=0@shNewsBtTx1,sd:sequence=0@imNewsBt1,eval:$arPickupMs[1]"
			 onkeyleft="sd:focus@apInfoBt1"
			 alt="$txInfoAh11">
	<else>
		<img name="imNewsBt1" pos="0,3" size="78,27" src="ma_i/maic01i.ang">
		<img name="apNewsBt1" pos="52,5" size="527,23" src="file://pml/img_s/general/im01s.png"
			 href="eval:$fncInfoCmd[$newsDspNum]" onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
			 onmouseover="sd:show=1@shNewsBtTx1,sd:sequence=2@imNewsBt1,sd:enable=0@shEsc,
						  sd:setx=55@,sd:sety=84@,sd:move=0@,eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)]"
			 onmouseout="sd:show=0@shNewsBtTx1,sd:sequence=0@imNewsBt1,eval:$arPickupMs[1]"
			 onkeyleft="sd:focus@apInfoBt1"
			 alt="$txInfoAh11">
	</if>
</sheet>


<!--=== 最新ニュース表示ボタン：mouseoverテキスト ============================================-->

<sheet name="shNewsBtTx1" pos="51,43+16" size="150,20" border="0" type="0" alpha="1" delay="0" appeartime="10" wait="2" show="0" zindex="0">
	<text pos="0,0" size="150,20" style="ic2" valign="middle">&var=$txNewsBtTx1;</text>
	<text pos="2,2" size="150,20" style="ic2" valign="middle">&var=$txNewsBtTx1;</text>
	<text pos="2,0" size="150,20" style="ic2" valign="middle">&var=$txNewsBtTx1;</text>
	<text pos="0,2" size="150,20" style="ic2" valign="middle">&var=$txNewsBtTx1;</text>
	<text pos="2,1" size="150,20" style="ic1" valign="middle">&var=$txNewsBtTx1;</text>
</sheet>
<sheet name="shNewsBtTx2" pos="51,43+16" size="100,20" border="0" type="0" alpha="1" delay="0" appeartime="10" wait="2" show="0" zindex="0">
	<text pos="0,0" size="100,20" style="ic2" valign="middle">&var=$txNewsBtTx2;</text>
	<text pos="2,2" size="100,20" style="ic2" valign="middle">&var=$txNewsBtTx2;</text>
	<text pos="2,0" size="100,20" style="ic2" valign="middle">&var=$txNewsBtTx2;</text>
	<text pos="0,2" size="100,20" style="ic2" valign="middle">&var=$txNewsBtTx2;</text>
	<text pos="1,1" size="100,20" style="ic1" valign="middle">&var=$txNewsBtTx2;</text>
</sheet>


<!--=== インフォメーションボタン ============================================================-->

<sheet name="shInfoBt" pos="576,58+16" size="64,33" border="0" type="0" alpha="1" delay="0" appeartime="200" enable="1" wait="2" zindex="0">
	<img name="imInfoBt1" pos="0,0" size="64,33" src="ma_i/maic02i.ang">
	<img name="apInfoBt1" pos="2,5" size="30,23" src="file://pml/img_s/general/im01s.png"
		 href="/pml/info/index.pml" onkeycancel="eval:$arLogout[($_PLAYINGCLASSID!='-1')||($lgTest!=0)]"
		 onmouseover="sd:sequence=1@imInfoBt1,sd:show=1@shInfoBtTx,eval:$arPickupMs[0],eval:$arPickupAuto[2*($autoNum==0)],sd:enable=0@shEsc"
		 onmouseout="sd:sequence=0@imInfoBt1,sd:show=0@shInfoBtTx,eval:$arPickupMs[1]"
		 !onkeyup="eval:'sd:focus@apPickupBt'+$culNum"
		 onkeydown="eval:'sd:focus@apPickupBt'+$culNum"
		 onkeyright="sd:focus@apNewsBt1"
		 alt="$txInfoAh2">
</sheet>


<!--=== インフォメーションボタン：mouseoverテキスト =========================================-->

<sheet name="shInfoBtTx" pos="474,43+16" size="140,16" border="0" type="0" alpha="1" delay="0" appeartime="10" wait="2" show="0" zindex="0">
	<text pos="0,0" size="130,14" style="sc2" align="right" valign="middle">&var=$txInfo;</text>
	<text pos="2,2" size="130,14" style="sc2" align="right" valign="middle">&var=$txInfo;</text>
	<text pos="2,0" size="130,14" style="sc2" align="right" valign="middle">&var=$txInfo;</text>
	<text pos="0,2" size="130,14" style="sc2" align="right" valign="middle">&var=$txInfo;</text>
	<text pos="0,1" size="130,14" style="sc1" align="right" valign="middle">&var=$txInfo;</text>
</sheet>


<!--====================================================-->
<!--=== 最新ニュース10件表示（プルダウン展開）		 ===-->
<!--====================================================-->

<array name="$arNewsLink">
	"null:$dat=-1000009900-$LATESTNEWS[$newsNum][7]*10000,
	 eval:'/pml/info/index2.pml?dat='+$dat+'&seri='+$LATESTNEWS[$newsNum][1]+'&fr='+$LATESTNEWS[$newsNum][0]",
	"eval:$LATESTNEWS[$newsNum][3]",
</array>

<!-- プルダウンシート -->
<if expr="$LATESTNEWSMAX!=0">
<sheet name="shNews" pos="0,0" size="640,480" border="0" type="0" alpha="1" delay="0" appeartime="150" show="0" wait="2" zindex="0">

	<!-- 外側クリック用 -->
	<img pos="0,0" size="640,480" src="file://pml/img_s/general/im01s.png" mousesound="0" href="eval:$fncInfoCmd[1]">


	<define name="$newsX" value="48">
	<define name="$newsY" calc="97+13">
	<define name="$newsYP" value="27">
	<define name="$newsH" value="27">

	<!-- プルダウンベース -->
	<img pos="$newsX,$newsY" size="563,28*$LATESTNEWSMAX" src="ma_i/maim04i.png">
	<img pos="$newsX,$newsY+28*$LATESTNEWSMAX" size="563,28" src="ma_i/maim05i.png">


	<scrollarea pos="$newsX,$newsY-36" size="563,28*($LATESTNEWSMAX+1)+32" hbar="never" vbar="never"
			    skin="0" skincolor="#00000000" selectedskincolor="#00000000" bgcolor="#ff000000">

		<!-- 最新ニュース表示ボタン2 -->
		<img name="apNewsBt2" pos="7,3" size="524,27" src="file://pml/img_s/general/im01s.png"
			 href="eval:$fncInfoCmd[$newsDspNum]" onkeycancel="eval:$fncInfoCmd[1]"
			 onmouseover="sd:show=1@shNewsBtTx2,sd:sequence=4@imNewsBt1,sd:enable=0@shEsc"
			 onmouseout="sd:show=0@shNewsBtTx2,sd:sequence=3@imNewsBt1"
			 alt="$txInfoAh12">

		<!-- インフォメーションボタン2 -->
		<img name="apInfoBt2" pos="531,3" size="30,27" src="file://pml/img_s/general/im01s.png"
			 href="/pml/info/index.pml" onkeycancel="eval:$fncInfoCmd[1]"
			 onmouseover="sd:sequence=1@imInfoBt1,sd:show=1@shInfoBtTx,sd:enable=0@shEsc"
			 onmouseout="sd:sequence=0@imInfoBt1,sd:show=0@shInfoBtTx"
			 alt="$txInfoAh2">

		<for init="$i=0" cond="$i<$LATESTNEWSMAX" next="$i++">

			<!-- フォーカス明滅 -->
			<img name="'fcNewsList'+$i" pos="22,34+$newsYP*$i" size="488,29" src="ma_i/mafc01i.ang">

			<!-- ニュースカテゴリアイコン： [0]POL [1]FFXI [2]TM [3]雀鳳楼 [4]FMO -->
			<img name="'icNews'+$i" pos="35,36+3+$newsYP*$i" size="40,20" src="ma_i/maic06i.ang">

			<!-- ニュース件名 -->
			<text pos="82,42+$newsYP*$i" size="455,15" style="news" bgcolor="#ff000000">&var=$LATESTNEWS[$i][5];</text>

			<img name="'apNewsList'+$i+'_1'" pos="22,36+$newsYP*$i" size="530,$newsH" src="file://pml/img_s/general/im01s.png"
				 href="null:$newsNum={$i},eval:$arNewsLink[$LATESTNEWS[$newsNum][2]==2]"
				 onkeycancel="eval:$fncInfoCmd[1]"
				 onmouseover="sd:sequence=6@fcNewsList{$i},sd:enable=0@shEsc"
				 onmouseout="sd:sequence=10@fcNewsList{$i}"
				 alt="$txInfoAh3">

		</for>

		<!-- 閉じる -->
		<if expr="$_USER_LANG=='de-DE'">
			<define name="$shNewsBtCloseTxX" value="477">
		<elsif expr="$_USER_LANG=='fr-FR'">
			<define name="$shNewsBtCloseTxX" value="475">
		<else>
			<define name="$shNewsBtCloseTxX" value="488">
		</if>
		<!-- 閉じる -->
		<sheet name="shNewsBtCloseTx" pos="$shNewsBtCloseTxX,32+28*$LATESTNEWSMAX-28" size="100,20" border="0" type="0" alpha="1" delay="0" appeartime="10" wait="2" show="0" zindex="0">
			<text pos="0,0" size="100,20" style="gm2" align="center" valign="middle">&var=$txNewsBtTx2;</text>
			<text pos="2,2" size="100,20" style="gm2" align="center" valign="middle">&var=$txNewsBtTx2;</text>
			<text pos="2,0" size="100,20" style="gm2" align="center" valign="middle">&var=$txNewsBtTx2;</text>
			<text pos="0,2" size="100,20" style="gm2" align="center" valign="middle">&var=$txNewsBtTx2;</text>
			<text pos="1,1" size="100,20" style="gm1" align="center" valign="middle">&var=$txNewsBtTx2;</text>
		</sheet>

		<img name="imNewsBtClose" pos="523,32+28*$LATESTNEWSMAX-10" size="33,35" src="ma_i/maic05i.ang">
		<img name="apNewsBtClose" pos="523,32+28*$LATESTNEWSMAX-10" size="33,35" src="file://pml/img_s/general/im01s.png"
			 href="eval:$fncInfoCmd[1]" onkeycancel="eval:$fncInfoCmd[1]"
			 onmouseover="sd:show=1@shNewsBtCloseTx,sd:sequence=1@imNewsBtClose,sd:enable=0@shEsc"
			 onmouseout="sd:show=0@shNewsBtCloseTx,sd:sequence=0@imNewsBtClose"
			 alt="$txInfoAh12">

	</scrollarea>

</sheet>
</if>


<!--====================================================-->
<!--=== body onclose ： sequence 制御				 ===-->
<!--====================================================-->

<array name="$fncMenuBtSqChg">
<!-- [0] -->
"",

<!-- [1] -->
"sd:sequence=$SC_ID@imShortcutBt,sd:sequence=0@imGmBt,
sd:sequence=$BANNER[0][$arBnDataSave[0][0]][3]@icPickupBn0,
sd:sequence=$BANNER[1][$arBnDataSave[1][0]][3]@icPickupBn1,
sd:sequence=$BANNER[2][$arBnDataSave[2][0]][3]@icPickupBn2,
sd:sequence=2@imMenu2ClsBt,
sd:sequence=$LATESTNEWS[0][0]@icNews00",

<!-- [2]第1階層メニューテキスト -->
"null:$seqTxMenuBt=($arMenu1[$rpt1][2]==$_FALSE),
 eval:'sd:sequence='+$seqTxMenuBt+'@fcMenuBt'+$rpt1,null:$rpt1++,null:$rpt1=$rpt1*($mnMax1>=$rpt1),eval:$fncMenuBtSqChg[2*($rpt1!=0)]",

<!-- [3]第2階層フォーカスイメージのシークエンス変更 -->
"eval:'sd:sequence=4@fcMenuBt2'+$rpt2,null:$rpt2++,null:$rpt2=$rpt2*($mnNum2Max>=$rpt2),eval:$fncMenuBtSqChg[3*($rpt2!=0)]",

<!-- [4]ニュースアイコン -->
"eval:'sd:sequence='+$LATESTNEWS[$rpt3][0]+'@icNews'+$rpt3,null:$rpt3++,null:$rpt3=$rpt3*($LATESTNEWSMAX>$rpt3),eval:$fncMenuBtSqChg[4*($rpt3!=0)]",

</array>


<!--====================================================-->
<!--=== 再読み込み処理(5分毎) 						 ===-->
<!--====================================================

<define name="$reloadCnt" value="0">
<define name="$reloadCntMax" value="9"><! 1…30秒間隔   9…5分(通常) >
<array name="$arReload">"","reload:"</array>
<timer href="eval:$arReload[$reloadCnt==$reloadCntMax],null:$reloadCnt++" delay="30000" repeat="$reloadCntMax+1">
-->

<!--====================================================-->
<!--=== デバック用 									 ===-->
<!--====================================================

<define name="$half1" value="0">
<define name="$half2" value="0">
<text name="txCheck" pos="20,20" size="600,40" style="menu2" bgcolor="#ffffff33">
	&pre=1;$mnNum2MaxHalf=&var=$mnNum2MaxHalf;      $mnNum2Max=&var=$mnNum2Max;
</text>

<timer name="tmTxCheck1" delay="10" href="sd:reload@txCheck,sd:reset=1@tmTxCheck2">
<timer name="tmTxCheck2" delay="10" href="sd:reload@txCheck,sd:reset=1@tmTxCheck1">
-->

</body>
</pml>